{% for colour in colours %}
  Colour number {{ loop.index }} is {{ colour.name }}.
{% set colour_count = namespace(i=0) %}
{% for person in people if person.fav_colour == colour.name %}
{% set colour_count.i = colour_count.i + 1 %}
{% do colour.update({'people_count':colour_count.i}) %}
{% endfor %}
  Currently {{ colour.people_count }} people call {{ colour.name }} their favourite.
  And the following are examples of things that are {{ colour.name }}:
{% for item in colour.things %}
    - {{ item }}
{% endfor %}

{% endfor %}
